.auto-size-text-area {  
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    background: none;
    font-size: 18px;
    font-weight: bold;
    transition: border-color 150ms ease;
    width: 100%;
}
