.search-bar {
    display: flex;
    margin: 16px 0 24px 0;
  }
  
.search-bar-input {
    flex: 1;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    padding: 16px;
    font-size: large;
}

.search-bar-input:focus {
  border-color: #424242;
  outline: 0;
}  

.search-bar-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
