.modal {
    border: 0;
    border-radius: 15px;
    position: fixed;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
}

.modal::backdrop {
    background: hsl(0 0% 0% / 50%);
}

.modal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    background-color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    padding: 4px;
}


.modal:focus {
    outline: none;
}

.modal-close:before,
.modal-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 24px;
    width: 3px;
    background-color: #333;

}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}