.modal {
    border: 0;
    border-radius: 15px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);    
    overflow: hidden;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    display: flex;
}

.modal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    background-color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    padding: 4px;
}

.modal-close:before,
.modal-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 24px;
    width: 3px;
    background-color: #333;

}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}


  
